CTest*
CPack*
CMakeFiles/
CMakeScripts/
CMakeSettings.json
Testing/
cmake/custom.cmake
build/
out/
.vs*/

compile_commands.json
.cmake
.clangd

.ninja*
*.ninja
*.user.*
*.user

webforcpp.pc
cmake_*.cmake
Makefile
CMakeCache.txt
install_manifest.txt
coverage.info

core
*.a
*.so
*.obj
*.exe
*.dll
*.ilk
*.pdb
*.gcov
*.tar.gz
*.core
test_*
